html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  width:90%;
  align-content: center;
  font-family: 'Ubuntu',sans-serif;
}
header {
  text-align: center;
  background: #f8f8f8;
  border-radius: 5px;
  margin-bottom: 10px;
  }

  .container, .login-container, .register-container, .user-login-form{
    margin: 0 auto;
    width:90%;
    max-width: 680px;
  }
  .login-container, .register-container  {
    border: 1px solid lightgrey;
    width:50%;
    text-align: center;
    /* margin-left: 300px; */
    /* margin-top:25px; */
    padding: 10px;
    border-radius: 5px;
  }


.head-container-1 {
  border-radius: 5px;
  display: flex;
}
@media (max-width:675px) {
  .head-container{
      flex-direction: column;
  }
  header{
      text-align: center;
  }
}
.head-container-2{
  display: flex;
}
.wip {
  width:30%;
  position: fixed;
  right: 20px;
  top:10px;
}
.links-one{
  /* display: inline-block; */
  padding: 5px;
  margin-right: 5px;
  color:rebeccapurple;
  font-weight: bold;
  right: 180px;
  position: fixed;

}
 .links-two{
    padding: 5px;
    right: 180px;
    top:20px;
    position: fixed;
 }

.cart-image {
  height: 25px;
  /* margin-left: 8px; */
  position: fixed;
  right: 130px;
  top:10px;
}

.app-name {
  font-family: 'Dancing Script','Great Vibes' ;
  font-size: 40px;
  display: inline;
  color: rgb(76, 5, 146);
  margin-left: 10px;
}

.genie-image {
  /* width: 16%; */
  padding: 5px;
}
.caption{
  font-size: 15px;
  padding: 5px;
  text-align: center;
  margin-top: 20px;
  color: purple;
  font-weight: bolder;
  font-family: monospace;
}

.home-container  {
  width: 100%;
  display: flex;
}
.main-container{
  width: 90%;
  margin-left: 5%;
  border-radius: 10px;
  align-content: center; 
}
.cat-items {
  box-sizing: border-box;
}
.cat-item-div {
  /* width: 205px; */
  height: 180px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  /* border:1px solid rebeccapurple; */
}

.cat-image-1{
    width: 10em;
    height: 10em;
    overflow: hidden;
}
.cat-image {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border: 2px dotted rgb(247, 244, 244);
  border-radius: 3px;
  cursor: pointer;
  object-fit: fill;
  /* box-shadow: 1px 1px 1px 1px rgba(177, 240, 44, 0.75); */
}
.pickdrop-image{
  width:170px;
  cursor: pointer;
}
.cat-name {
  text-align: center;
  font-weight: bold;
}

.store-container, .item-header-div, .items-container, .dp-container {
  width: 100%;
}
.sel-category-name{
  margin-bottom:5px;
  padding:10px;
  text-align: center;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,'Dancing Script';
  font-size: 20px;
  width: 100%;
  background-color: rgb(245, 240, 240);
}
.goback {
  cursor: pointer;
  padding: 5px;
  font-weight: bold;
}
.store-list {
  display: flex;
  border: 1px solid lightgray;
}
.store-name {
  border: none;
  border-radius: 3px;
  width: 250px;
  height: 100px;
  padding: 10px;
  margin: 10px;
  /* background-color: rgb(252, 235, 235); */
  background-color: rgb(230, 222, 222);
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item-div {
  width: 98%;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.item-name, .item-price {
  width: 150px;
  padding: 8px;
  margin: 2px;
  
}

.items{
  display: flex;
}
.side-categories{
  border: 1px solid  lightgray;
  width:15%;
  /* border: 2px dashed firebrick; */
}
.side-category-div{
  border-radius: 3px;
  width: 150px;
  padding: 8px;
  margin : 5px;
  border: 1px solid lightgray;
  /* margin-bottom: 2px; */
  cursor: pointer;
}
.active {
  background-color: rgb(184, 179, 179);
  background-color: rgb(216, 210, 210);
  font-weight: bold;
}

.side-category-div:hover {
  background-color: gray;
  font-weight: bold;
  color: white;

}

.items-div{
  width:40%;
  border: 1px solid lightgray;

}

.price-div{
  border-radius: 5px;
  float: right;
  border: 1px solid rgb(236, 232, 232);
}
.incr-decr, .qty-value {
  padding: 3px;
  margin: 1px;
  border: none;
  font-weight: bold;
  background: none;
}
.cart-div{
  width:45%;
  border: 1px solid lightgray;
  padding: 10px;
  text-align: center;
}
.store-header-text{
  width:100%;
  text-align: left;
  font-weight: bold;
  color: blue;
}
.cart-header {
  width:100%;
  font-weight: bold;
  /* border-bottom: 1px solid lightgray; */
  background-color: rgb(240, 235, 235);
  border-radius: 3px;
}
.cart-items{
  display: flex;
  border: 1px dotted lightgray;
}

.cart-counter{
  background-color: rebeccapurple;
  /* width: 20px; */
  height: 20px;
  border-radius: 50%;
  padding: 4px;
  color: whitesmoke;
  font-weight: bolder;
  position: absolute;
  top: 20px;
  right: 90px;
}
.cart-header, .item {
  display: flex;
  padding: 5px;
  width: 100%;
  font-weight: bolder;
  /* border: 1px solid grey; */
}
.cart-item-name {
  display: flex;
  padding: 5px;
  width: 100%;
  /* border: 1px solid grey; */
}
.cart-total{
  padding: 3px;
  margin: 2px;
  font-weight: 700;
  color: blue;
  background: rgb(235, 233, 233);
}

.proceed-box{
  width:100%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 3px;
  border:none;
  color:blue;
  font-weight: bold;
  background-color: rgb(235, 233, 233);
}
.amount-box{
  padding: 5px;
  margin-left: 50px;
}
.items-div h2{
text-align: center;
}
.address-container{
  width:100%;
  border: 1px solid lightgray;
}
.address-input{
  width:90%;
  display: flex;
  flex-direction: column;
}
.input-div{
  display: flex;
  margin: 10px;
}
label{
  width: 20%;
  margin: 5px;
}
.input-addr-fromto{
  padding: 8px;
  width: 60%;
  border: 1px solid lightgray;
  border-radius: 3px;
}
.submit-addr-btn{
  padding: 10px;
  width: 25%;
  margin-left: 35%;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}
/*login - reg*/
 .register, .login, .logout{
  border:2px solid blue;
  flex-grow: 2;
  margin:2px;
  text-decoration: none;
}


.form-group {
  margin: .2rem 0;
  display: flex;
}
.form-group label {
  width:25%;
  padding: 5px;
  margin: 10px 0 22px 10px;
  text-align: left;
}
.form-group input {
  width:50%;
  padding: 12px;
  margin: 10px 0 22px 10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  background: #ffffff;
}

.user-login-form input[type=text]:focus,
.user-login-form input[type=password]:focus{
    background-color: rgb(194, 192, 192);
    outline: none;
}
.user-login-form input[type=text],
.user-login-form input[type=password] {
  width:80%;
  padding: 12px;
  margin: 10px 0 22px 10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  background: #ffffff;
}
.login-error{
  color: red;
  font-weight: bold;
  padding: 3px;
}
.back-button {
  background:rgb(99, 240, 84);
  border-radius: 3px;
  font-weight:bold;
  padding: 5px;
  border: none;
  cursor: pointer;
  width: 100px;
  margin:10px;
  color: purple;
}
.login-button {
  background: lightgrey;
  border-radius: 5px;
  font-weight:bold;
  padding: 15px 10px;
  border: none;
  cursor: pointer;
  width: 20%;
  margin-bottom:10px;
}

/**MAP**/
.leaflet-container {
  margin: 2% 0 2% 0;
  height: 400px;
  width: 100%;
}
.successMsg{
  font-size: 25px;
  padding: 5px;
  text-align: center;
  margin-top: 2px;
  color: rgb(41, 128, 0);
  font-weight: bolder;
  font-family: monospace;
}
.blink-two {
  animation: blinker-two 4s linear infinite;
}
@keyframes blinker-two {
  100% {
    opacity: 0;
  }
}
.ispaid{
  float: right;
}
.dp-block{
  width: 40%;
  border: 1px gainsboro;
  align-self: center;
}
.dp-name{
  text-align: center;
  font-size: 40px;
  color: rgb(76, 5, 146);
  padding: 5px;
}
.dp-message{
  font-size: 20 rem;
  padding: 5px;
  text-align: center;
  margin-top: 20px;
  color: purple;
  font-weight: bolder;
  font-family: monospace;
}
.dp-div{
  padding: 10px;
  margin: 5px;
  /* font-weight: bold; */
  border: 1px dotted lightgray;
}
.dp-span-1 {
  margin: 5px;
  width: 30%;
}
.dp-span-2 {
  margin: 5px;
  width: 60%;
}
.dp-btn {
  margin-left: 10%;
  border: none;
  border-radius: 3px;
  padding: 5px;
}
.dp-heading{
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  font-weight: bold;
}