* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width:90%;
  align-content: center;
  font-family: 'Franklin Gothic Medium', 'Ubuntu',sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 14px;
}

header {
  background: #f8f8f8;
  border-radius: 5px;
}
.info-msg {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px; */
}

.dp-Map{
  width: 100%;
}
.main-container{
  width: 90%;
  border-radius: 10px;
  align-content: center; 
  margin: 0 auto;
}

.main-head {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: 0px;
}

.head-container {
  background-color:rgb(2, 30, 59);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  height: 60px;
}

.genie-image {
  width: 60px;
  padding: 5px;
}

.app-name {
  font-family: 'Dancing Script','Great Vibes' ;
  font-size: 40px;
  display: inline;
  color: seashell;
  margin-left: 10px;
}
.caption{
  font-size: 15px;
  padding: 5px;
  text-align: center;
  margin-top: 20px;
  color: seashell;
  font-weight: bolder;
  font-family: monospace;
}
.link-style{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.links-one{
  padding: 5px;
  margin-right: 5px;
  font-weight: bold;
  right: 210px;
  position: fixed;
  top:10px;
  color: seashell;
}
.links-two{
  padding: 5px;
  right: 250px;
  top: 35px;
  position: fixed;
  font-weight: bold;
  border-radius: 5px;
 color: seashell;
  }

.cart-image {
  height: 25px;
  position: fixed;
  right: 195px;
  top:20px;
}

.cart-counter{
  height: 20px;
  border-radius: 50%;
  padding: 4px;margin-left: 2px;
  color: whitesmoke;
  font-weight: bolder;
  position: absolute;
  top:20px;
  background-color: red;
  right: 65px;
}
.login-container, .register-container  {
  margin: 0 auto;
  margin-top: 10px;
  width:90%;
  max-width: 680px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;

}
 /* END OF HEADER */ 

.home-container  {
  width: 100%;
  display: flex;
}
.main-div{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}
.cat-items-list{
  box-sizing: border-box;
  width: 33%;
  float: left;
}

.cat-item-div {
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  /* border:1px solid rgb(240, 230, 250); */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.cat-image-1{
  width: 10em;
  height: 10em;
  overflow: hidden;
}
.cat-image {
  border-radius: 3px;
  cursor: pointer;
}
.pickdrop-image{
  width:170px;
  cursor: pointer;
}
.cat-name {
  text-align: center;
  font-weight: bold;
  position: relative;
  top: 35px;
  margin-left: 20px;
  color: black;
}
/*STORES*/
.store-container, .item-header-div, .items-container {
  width: 100%;
}
.store-info-div{
  position: sticky;
  top: 100px;
}
.store-list{
  width: 100%;
}

.store-divs-list {
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding: 8px;
}

.store-item-div{
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.store-image {
  width: 100px;
  margin: 2px;
  border-radius: 5px;
}

.store-name {
  border: none;
  border-radius: 3px;
  width: 250px;
  height: 80px;
  padding: 10px;
  margin: 2px;
  cursor: pointer;
}
.store-name p, sub{
  color: black;
  font-weight: bold;
}

.category-div{
  display: flex;
  background-color:rgb(3, 36, 71);
  padding: 5px;
  border-top: 1px solid rgb(66, 65, 65);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100px;
  position: relative;
  top: -1px;
  z-index: -1;
}

.category-div .sel-cat-img {
  width: 10%;
  margin-left: 2%;
}

.sel-cat-name{
  margin-bottom:5px;
  padding:10px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
}
/* ITEMS Page */
.store-details{
  display: flex;
  background-color:rgb(3, 36, 71);
  padding: 5px;
  border-radius: 3px;
  height: 150px;
  /* position: sticky; */
  top: 10px;
}
.store-name-address , sub{
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color:  seashell;
  font-weight: bold;
}
*/
.items-list-div {
  box-sizing: border-box;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  position: sticky;
  top: -5px;
  height: 5px;
} 

.search-item-container {
  background: white;
  height: 60px;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
  top: -50px;
  /* z-index: 10;  */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.search-item-div{
  box-sizing: border-box;
  text-align: center;
}
.search-item-input{
  padding: 5px;
  margin: 5px;
  width: 50%;
  border-radius: 5px;
  padding:  10px;
  border: none;
  box-shadow: rgba(54, 53, 53, 0.1) 0px 4px 8px;
}
.items-div-container{
  box-sizing: border-box;
   display: flex;
   /* position: sticky; */
   /* position: -webkit-sticky; */
   position: relative;
   top: -50px;
   box-shadow: rgba(54, 53, 53, 0.1) 0px 4px 8px;
 }
.item-div {
  width: 98%;
  border-radius: 3px;
  padding: 10px;
  margin: 2px;
  cursor: pointer;
  position: relative;
  top: 10px;
  font-size: 12px;
  box-shadow: rgba(54, 53, 53, 0.1) 0px 4px 8px;

}
.item-list-div{
  display: flex;
  font-weight: bold;
  font-size: 14px;
}
.item-img-div{
  width: 30%;
}
.item-name-price-qty-div{
  width:40%;
  display: flex;
  flex-direction: column;
}
.item-name, .item-price {
  width: 150px;
  padding: 3px;
  margin: 2px;
}
.price-div{
  width:15%;
  height: 10%;
  margin-top: 50px;
  border-radius: 5px;
  text-align: center;
  float: right;
  border: 1px solid rgb(236, 232, 232);
  position: relative;
  top: -5px;
}
.incr-decr, .qty-value {
  padding: 3px;
  border: none;
  font-weight: bold;
  background: none;
}
.side-categories{
  width: 33%;
  /* overflow-y: scroll; */
  padding: 10px;
}
.side-category-div{
  border-radius: 3px;
  margin-top: 10px;
  border-bottom : 1px solid lightgrey ;
  font-size: 13px;
  width: 100%;
  padding: 8px;
  margin : 5px;
  cursor: pointer;
}
.active {
  background-color: rgb(216, 210, 210);
  font-weight: bold;
  font-size: 13px;
}

.side-category-div:hover {
  background-color: rgb(231, 224, 224);
  font-weight: bold;
  font-size: 13px;
}

.items-div{
  width: 70%;
  height: 100%;
  overflow-y: hidden;
  /* border: 1px solid rgb(236, 232, 232); */
}

.cart-div{
  width:55%;
  /* height: 100%; */
  text-align: center;
  padding: 10px;
}
.store-header-text{
  background-color: rgb(240, 235, 235);
  padding: 10px;
  width:100%;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.cart-header {
  width:100%;
  font-weight: bold;
  background-color: rgb(240, 235, 235);
  border-radius: 3px;
}
.cart-container{
  height:100px;
}
.cart-items{
  display: flex;
  padding: 5px;
  font-size: 13px;
}
.cart-header, .item {
  display: flex;
  padding: 5px;
  width: 100%;
  font-weight: bolder;
}
.cart-item {
  display: flex;
  padding: 5px;
  width: 100%;
}
.cart-total{
  padding: 5px;
  margin: 2px;
  font-weight: bold;
  font-size: 14px;
  background: rgb(235, 233, 233);
}
.checkout-section{
  width: 100%;
}
.checkout-page{
  width:100%;
  background: white;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  height: 120px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  text-align: center;
}
.back-button{
  width: 25%;
  background-color: rgb(189, 245, 133);
  height: 50px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
.check-box{
  width: 10%;
  text-align: center;
  margin-top: 25px;
}
.footer-text{
  padding: 10px;
}
input[type=checkbox] {
  /* transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2); */
  zoom: 2;
  padding: 10px;
}
.checkbox-title{
  margin-top: 30px;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
}
.address-container {
  box-sizing: border-box;
  margin-top: 30px;
  width:60%;
  padding:10px;
  border-radius: 5px;
}

.show-map-info{
  margin-top: 20px;
  width:100%;
  height: 100%;
  display: flex;
}

.checklist{
  width: 50%;
}
.proceed {
  position: relative;
  top: 100px;
  /* margin-left: 10%; */
}
.proceed-box{
  margin-top: 5px;
  border-radius: 3px;
  font-weight: bold;
  background-color: rgb(189, 245, 133);
  padding: 10px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.amount-box{
  padding: 5px;
  margin-left: 50px;
}
.items-div h2{
text-align: center;
}
.pay-container{
 padding: 5px;
 width:80%;
}
.input-addr-fromto{
  padding: 10px;
  border: none;
  border-radius: 3px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  margin-left: 5px;
}
.track-container{
  display: flex;
}
.show-map{
  width: 60%;
  height: 50%;
}
.show-updates{
  width: 30%;
  margin: 10px;
}
.updates-div{
  width: 100%;
  display: flex;
  padding: 1px;
  margin: 5px;
  background-color: rgb(189, 245, 133);
}
.radio-input{
  width: 10%;
  /* transform: scale(2); */
  zoom: 2.5;
}
.update-title{
  /* width: 50%; */
  font-weight: bold;
  padding: 5px;
}
.main-btn-div{
  display: flex;
}
.main-btn-div button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: rgb(189, 245, 133);
  margin: 10px;
} 

/*login - reg*/
 .register, .login, .logout{
  flex-grow: 2;
  margin:2px;
  text-decoration: none;
}

.form-group {
  margin: .2rem 0;
  display: flex;
}
.form-group label {
  width:25%;
  padding: 5px;
  margin: 10px 0 22px 10px;
  text-align: left;
}
.form-group input {
  width:50%;
  padding: 12px;
  margin: 10px 0 22px 10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  background: #ffffff;
}

.user-login-form input[type=text]:focus,
.user-login-form input[type=password]:focus{
    background-color: rgb(194, 192, 192);
    outline: none;
}
.user-login-form input[type=text],
.user-login-form input[type=password] {
  width:80%;
  padding: 12px;
  margin: 10px 0 22px 10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  background: #ffffff;
}
.login-error{
  color: red;
  font-weight: bold;
  padding: 3px;
}

.login-button,.proceed-box {
  background-color: rgb(189, 245, 133);
  border-radius: 5px;
  font-weight:bold;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  width: 20%;
  /* margin:10px; */
}
.proceed-box {
  width: 100%;
}
/**MAP**/
.leaflet-container {
  margin: 2% 0 2% 0;
  height: 400px;
  width: 100%;
}

.dp-div{
  padding: 10px;
  margin: 5px;
  border: 1px dotted lightgray;
}
.dp-span-1 {
  margin: 5px;
  width: 30%;
}
.dp-span-2 {
  margin: 5px;
  width: 60%;
}
.dp-heading{
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  font-weight: bold;
}

/*media queries */

  @media screen and ( max-width: 800px ){
    .head-container-1{
        flex-direction: column;
    }
    .app-name {
      font-size: 20px;
      color: seashell;
      margin-left: 2px;
      margin-left: 60px;
      margin-top: -50px;
    }
    .caption{
      font-size: 10px;
      padding: 2px;
      margin-top: -5px;
      position: relative;
      left: -50px;
      color: seashell;
      font-family: monospace;
    }
    .genie-image {
      width: 10px;
      padding: 5px;
    }
    .cat-items-list{
      box-sizing: border-box;
      margin: 2px;
      width: 100%;
    }
    
  .links-one{
    padding: 2px;
    right: 210px;
    position: fixed;
    top:10px;
    color: seashell;
    right: 80px;
  }
  .links-two{
    padding: 2px;
    right: 250px;
    top: 35px;
    position: fixed;
    font-weight: bold;
    border-radius: 5px;
  color: seashell;
    right: 80px;

    }

  .cart-image {
    height: 15px;
    position: fixed;
    right: 195px;
    top:20px;
    right: 80px;
  }

  .cart-counter{
    height: 20px;
    border-radius: 10%;
    padding: 2px;
    color: whitesmoke;
    font-weight: 300;
    position: absolute;
    top: 65px;
    right: 188px;
  }
  .store-divs-list {
    box-sizing: border-box;
    width: 100%;
  }
  .items-list-div {
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    position: sticky;
    top: -5px;
    height: 5px;
  } 

  .items-div-container{
    box-sizing: border-box;
     display: flex;
      flex-direction: column;
     position: relative;
     top: -50px;
     box-shadow: rgba(54, 53, 53, 0.1) 0px 4px 8px;
   }
   .item-img-div{
     width: 33%;
   }
   .item-name-price-qty-div{
    width:40%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .side-categories{
    width: 100%;
    overflow-y: hidden;
  }
  .items-div{
    width: 100%;
    /* height: 100%; */
    overflow-y: hidden;
    border: 1px solid rgb(236, 232, 232);
  }
  .price-div{
    height: 10%;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
    float: right;
    border: 1px solid rgb(236, 232, 232);
    position: relative;
    top: -5px;
  }
  .cart-div{
    width:33%;
    height: 100%;
    text-align: center;
    overflow-y: scroll;
  }
}

@media screen and ( min-width: 800px ){
  .cat-items-list{
    box-sizing: border-box;
    width: 50%;
  }
}

@media screen and ( min-width: 1000px ){
  .cat-items-list{
      box-sizing: border-box;
      /* width: 33%; */
      width: 50%;
      padding: 10px;
  }
}
